agent-framework-foundry==1.13.1
agent-framework-foundry-hosting==1.0.0b260918
azure-identity==1.25.3
azure-monitor-opentelemetry-exporter==1.0.0b57
azure-monitor-query==2.0.0
debugpy==1.8.21
httpx==0.28.1
truststore==0.10.4